body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Card */
.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.411);
  border-radius: 0.4rem;
  transition: 0.3s;
  width: 18rem;
  height: 23vh;
  margin-top: 3rem;
  padding: 0.001em 1rem;
  font-size: 0.8rem;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.complete {
  display: flex;
}
.complete p {
  margin-top: 1rem;
}
.light-grey {
  color: rgb(179, 21, 21) !important;
  background-color: rgba(179, 124, 21, 0.123) !important;
  border: #3a109e;
  border-radius: 50px;
}

.w3-green {
  color: rgb(134, 41, 41) !important;
  background-color: #eb9413 !important;
  border-radius: 50px !important;
}
